# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Random coins

Do the coins randomly go into different positions without stacking in the boxes

### Test Data Used

I will test the code a couple times to see if the code isn't broken and randomly places the coins i different spots each time

### Test Result

When the user runs the code it should say what coins are in the board then it will place them randomly in the boxes without stacking on top one another.

![Gif animation for test plan 1.gif](<screenshots/Gif animation for test plan 1.gif>)

Result: Pass


## Board layout

does the game board print out after each move?

### Test Data Used

I will test to see if the board prints out after each turn so players can see the moves on the board.

### Test Result

![Gif animation 2 for test plan 1.gif](<screenshots/Gif animation 2 for test plan 1.gif>)

result: Pass

## Player moves

Does the game take turns of players

### Test Data Used

I will test to see if the game takes turns of players after each move

### Test Result

![Gif animation 3 for test plan 1.gif](<screenshots/Gif animation 3 for test plan 1.gif>)

Result: Pass


## Winning

Does the game realise when a player has won

### Test Data Used

I will test to see if the game can tell if when the gold coin is removed to say who won

### Test Result

![Gif animation 4 for test plan 1.gif](<screenshots/Gif animation 4 for test plan 1.gif>)

Result Pass


## Final message for who won

Does the game congratulate the player who won?

### Test Data Used

I will test to see if the game congratulates the player after removing the gold coin
### Test Result

![Gif animation for congrats.gif](<screenshots/Gif animation for congrats.gif>)

Result: Pass


## Coins can go anywhere on board

Does the program let the coin move anywhere along the board.

### Test Data Used

I will test to see if a coin on the board can move freely anywhere without the program crashing.


### Test Result

![Gif animation for moving coin anywhere.gif](<screenshots/Gif animation for moving coin anywhere.gif>)

Result: Pass

---
